html {
}

#tasks-section {
  margin-left: 25%;
}


.red {
  color: #dc3545;
}

.blue {
  color: #007bff;
}

.green {
  color: #28a745;
}

.yellow {
  color: #ffc107;
}

.status-symbol-red {
    width: 50px;
    height: 50px;
    background-image: url(../img/circle_red.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.status-symbol-green {
    width: 50px;
    height: 50px;
    background-image: url(../img/circle_green.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.status-symbol-blue {
    width: 50px;
    height: 50px;
    background-image: url(../img/circle_blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.status-symbol-yellow {
    width: 50px;
    height: 50px;
    background-image: url(../img/circle_yellow.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.plus-icon {
    height: 30px;
    width: 30px;
    background-image: url(../img/circle-plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pencil-icon  {
    height: 25px;
    width: 25px;
    background-image: url(../img/pencil.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.trash-icon {
    height: 25px;
    width: 25px;
    background-image: url(../img/trash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
